/* styles.css */

/* Estilos para las imágenes */
img {
    width: auto;
    height: 200px;
    margin-bottom: 10px;
}

/* stylesIngresar.css */
.botones-container {
    background-image: url('../assets/img/header-bg.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajustar la imagen al tamaño del contenedor */
    padding: 20px; /* Espaciado interno */
}
